HTTP_ADDR=CHANGE_ME_HTTP_ADDR
BASE_URL=CHANGE_ME_BASE_URL
LOG_LEVEL=CHANGE_ME_LOG_LEVEL
JWT_SECRET=CHANGE_ME_AT_LEAST_32_CHARACTERS_SECRET
JWT_ACCESS_TTL=24h

DB_HOST=CHANGE_ME_DB_HOST
DB_PORT=CHANGE_ME_DB_PORT
DB_USER=CHANGE_ME_DB_USER
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
DB_NAME=CHANGE_ME_DB_NAME
DB_SSLMODE=CHANGE_ME_DB_SSLMODE

POSTGRES_PORT=CHANGE_ME_POSTGRES_PUBLIC_PORT
POSTGRES_DB=CHANGE_ME_POSTGRES_DB
POSTGRES_USER=CHANGE_ME_POSTGRES_USER
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
